textarea {
  width: 100%;
  height: 200px;
  background-color: #252526;
  color: #d4d4d4;
  border: none;
  border-radius: 6px;
  padding: 24px 4px;
  font-family: monospace;
  font-size: 14px;
  resize: vertical;
  box-sizing: border-box;
  min-height: 720px;
}
pre {
  color: #d4d4d4;
  background-color: #252526;
  border-radius: 6px;
  padding: 12px;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-top: 20px;
  min-height: 720px;
  overflow-x: auto;
}
